<div class="container">
    <h1 class="center">Pokémons</h1>
    <div class="row ">
        <app-search-pokemon></app-search-pokemon>
        <div *ngIf='!pokemonList'>
            <h4 class="center"><app-loader></app-loader></h4>
        </div>
        <div *ngFor="let pokemon of pokemonList" class="col m4 s6 min-size">
            <div (click)="goToPokemonDetail(pokemon)" class="card horizontal hover"  pokemonBorderCard="red">
                <div class="card-image">
                    <img class="img-size" [src]="pokemon.picture" alt="image de {{pokemon.name}}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ pokemon.name }}</p>
                        <p><small>{{ pokemon.created | date: "dd MMMM YYYY" }}</small></p>
                        <div class="container-type">
                            <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">
                                {{ type }}
                            </span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<a 
    class="btn-floating btn-large waves-effect waves-light red z-depth-3 btn-add"
    style="position: fixed; bottom: 25px; right: 25px;"
    routerLink="/pokemon/add"
>
✚
</a>