<h1>Liste de pokémon</h1>
<!--
    #input = déclare la variable input
    (keyup) = Permet de mettre a jour la valeur à chaque relevée de touche
    (keyup) = Permet de mettre a jour la valeur à chaque fois que la touche "entrée" est relevée.
-->
<input 
#input 
(keyup.enter)="selectPokemon(input.value)"
type="number"
/>

<!-- ? = Si pokemonSelected n'est pas défini, n'affiche rien plutôt que renvoyer une erreur -->
<p *ngIf="pokemonSelected">
    Vous avez séléctionnez le pokémon: {{ pokemonSelected?.name }}
</p>
<p *ngIf="!pokemonSelected">
    Aucun pokémon n'a été trouvé.
</p>

<p *ngFor="let pokemon of pokemonList">
    {{pokemon.name}}
</p>